<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://easygrid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/24e5db31-e7db-4e8c-9f49-28f8d5bf8f15/resourceGroups/EasyGrid/providers/Microsoft.Web/sites/easygrid</ResourceId>
    <UserName>$easygrid</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://easygrid.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>